# folders
venv/
build/
dist/
backup/
live_traffic/
.vscode/

# files
main.spec
python_commands.md
buffer.md
packages.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# lib / packages
packages.txt

# temporary
core/network.py
core/network_plus.py
core/wavelet_analysis.py