# folders
venv/
build/
dist/
backup/
live_traffic/
sessions
.vscode/

# files
main.spec
python_commands.md
buffer.md
task.md

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# lib / packages
packages.txt

# temporary